@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <button class="btn btn-info">Welcome on my page!</button>
    <alert color="danger" type="primary">Uwaga!</alert>
    <vc:visible-products-list max="5" />
</form>